<script setup lang="ts">
    import { ref } from 'vue';
    const message = ref("Hello World!")
</script>

<template>
    <div>
        <h1> {{ message }}</h1>
    </div>    
</template>

<style>

</style>